<header class="header">
    <div class="logo">
        <a href="/">Financias Alexis</a>
    </div>
    <div class="menu">
        <ul class="menu-lista">
            <li class="menu-lista-item">
                <a href="/perfil" class="menu-lista-link">Perfil</a>
            </li>
            <li class="menu-lista-item">
                <a href="/despesas" class="menu-lista-link">Despesas</a>
            </li>
            <li class="menu-lista-item">
                <a href="/meta" class="menu-lista-link">Meta</a>
            </li>
        </ul>
    </div>
    <div class="login">Entrar</div>
</header>